.customer-type-row {
  display: flex;
  align-items: center;
  margin: 10px;
}

.customer-type-row span {
  display: inline-block;
  margin: 10px;
  width: 1.5rem;
}

.customer-type-row button {
  margin: 0 5px;
}

.customer-type-row span,
.customer-type-row button {
  text-align: center;
}

.section-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
