.button {
  background-color: black;
  color: white;
  border: 5px;
  margin-top: 10px;
}

.column {
  width: 100%;
  padding: 10px;
}

.pay-button{
  position: relative;
  height: fit-content;
  padding-bottom: 1rem;
  min-height: 100%;
  font-size: 15px;
}