.time-selector-container {
  margin-top: 2rem;
}

.time-selector-subheader {
  font-size: 1rem;
  color: gray;
  margin-bottom: 1rem;
}

.time-slot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.25rem;
  margin-bottom: 10px;
  cursor: pointer;
}

.time-slot.selected {
  padding: 10px;
  border: 3px solid;
}

.time-slot .price {
  font-size: 0.9rem;
  color: #8f8f8f;
}

@media (min-width: 576px) {
  .time-slot {
    margin-bottom: 0;
  }
}

.section-header {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
